body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #dc44a7;
}

.form-group {
  width: 400px;
  margin: 8px auto;
  background-color: whitesmoke;
  padding: 10px 40px;
  border: solid 2px black;
  border-radius: 10px;
}

.form-group h2 {
  text-align: center;
  font-size: 28px;
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #26c2e4;
}

.form-group p {
  width: 410px;
}

.form-control {
  width: 383px;
  padding: 6px;
  border: solid 1px lightslategray;
  cursor: pointer;
}
.nationality {
  padding: 5px;
  border: solid 1px lightslategray;
  cursor: pointer;
}

.nationality_error {
  padding: 5px;
  border: solid 1px red;
  background-color: yellow;
}

.form-group fieldset {
  border: solid 1px lightslategray;
  font-size: 16px;
  cursor: pointer;
}

.form-button {
  display: block;
  padding: 10px 20px;
  margin: 15px auto;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #ae8ff2;
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}

.error_alert {
  width: 383px;
  padding: 6px;
  background-color: yellow;
  border: solid 1px red;
}

.error_text {
  font-size: 16px;
  font-style: italic;
  color: red;
}

.success_alert {
  width: 383px;
  padding: 6px;
  background-color: whitesmoke;
  border: solid 2px lightgreen;
}
